body {
    font-family: monospace;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

.nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
}

.newsletter h2 {
    font-size: 24px
}